{
    margin: 0px;
    padding: 0px;
    box-sizing: order-box;
}

nav{
    display:block; 
    justify-content: space-around;
    min-height: 8vh;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(167, 48, 48);
}
.logo img{
    position: absolute;
    margin-top: 0px;
    margin-left: -10px;
}
.logo{
    color: floralwhite;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}
.nav ul{
    text-align: center;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;

}
.nav-links{
    color: floralwhite;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 5px;
    background-color:gainsboro;
    margin: 3px;
}
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:gainsboro;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
   }
   .nav-links li{
       opacity: 0;
   }
   .burger{
       display: block;
   }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
