<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"/>
    <link href="static/css/analysis.css" rel="stylesheet"></link>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com">Homepage</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Background">Background Knowledge</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Batting">Batting</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Pitching">Pitching</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Analysis">Analysis</a>
            </li>
            <li class="nav-item">
                <img src="static/Images/mlSluggers.png" width="58.5" height="50" />
                </li>
        </ul>
        </div>
    </div>
    </nav>

   

<div class="polaroid">
    <p style="text-align:center;">
        <img id="img" src="static/Images/final/HOF_inducted_Bar.png"></a>
    </p>
        <p style="text-align:center;">
            This bar chart visualization shows total number of 
            players inducted to the HOF in baseball history, total 
            number of players nominated but not inducted to the 
            HOF, and lastly (also by far most commonly) all other 
            players. This visualization helps to clarify and separate 
            the nominees who did and did not get in to the HOF.
        </p>
</div>

<div class="polaroid">
    <p style="text-align:center;">
        <img id="img" src="static/Images/final/HOF_Circle.png"></a>
    </p>
        <p style="text-align:center;">
            The above circle chart shows the density of players elected and the density of players nominated for Hall of
            Fame induction relative to the total number of players in baseball history. This visualization puts into
            perspective the rarity of even being nominated as a potential Hall of Famer. The “bullseye” of this graph
            then illustrates the rarity within that nominee group to become fully inducted
        </p>
</div>

<div class="polaroid">
    <p style="text-align:center;">
        <img id="img" src="static/Images/final/Players_vs_HOF_status.png"></a>
    </p>
        <p style="text-align:center;">
            This chart illustrates the increasing rarity of which players 
            get inducted into the HOF. As the total number of players has 
            steadily increased over the past 150 years - the number of inducted 
            players has risen at a much slower scale.
        </p>
</div>

<div class="polaroid">
    <p style="text-align:center;">
        <img id="img" src="static/Images/final/HOF_yes_no.png"></a>
    </p>
        <p style="text-align:center;">
        
        </p>
</div>


<div class="polaroid">
    <p style="text-align:center;">
        <img id="img" src="static/Images/final/Time_On_Ballot_YN.png"></a>
    </p>
        <p style="text-align:center;">
           
        </p>
</div>




    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="static/js/analysis.js"></script>  

     <!-- Bootstrap JS scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
</body>
</html>