<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"/>

    <h1>Background Knowledge</h1>

   <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/base">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Background">Background Knowledge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/scrape">HOF Updates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Batting">Batting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Pitching">Pitching</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Prediction">Prediction</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</head>
<body>
    


<h3>Introduction</h3>
<p> The National Baseball Hall of Fame inducted its first eligible members in 1936. Soon after, in 1939, the Baseball Hall of Fame Museum was opened in Cooperstown, NY. Since its establishment, each year members of the Baseball Writer's Association of America (BBWAA) vote on eligible candidates to be inducted into the Baseball Hall of Fame. Major League Baseball players are considered eligible candidates if the baseball player:

    <li>Was an active MLB player at least 15 years prior to the year of the election.</li>
    <li>Has been retired for at least 5 years prior to the election.</li>
    <li>Has played in a minimum of 10 seasons.</li>
    <li>Cannot be on the Baseball Hall of Fame ineligible list.</li>
    Once a candidate is deemed eligible, multiple criteria are taken into consideration when voting occurs, such as the player's record/statistics, ability, integrity, and contribution to a team. Members of the BBWAA cast no more than 10 votes on each years ballot for the candidates of their choosing. Any candidate that receives votes on at least 75% of the ballots will be inducted to the Hall of Fame.</h4>
</p>

<h3>Purpose Prediction Technology</h3>
<p>Taking into consideration the process and requirements of being inducted into the Baseball Hall of Fame, a machine learning model will be developed and used to identify past Hall of Famers and predict future inductees. In addition, this model will help recognize historically underrated players and examine the statistically-worthy players who have not yet been inducted to the Hall of Fame. Ideally, the machine learning model will be able to be applied to future datasets and predict Hall of Fame inductees with an above average level of accuracy.</p>
    
<h3>Technologies Utilitzed</h3>

<p>The following various technologies will be used throughout the completion of this project:</p>

<li>Python and Pandas for data exploration and ETL</li>
<li>PostgreSQL for a database</li>
<li>Random Forest Classifier machine learning model</li>
<li>Matplotlib for visualization of findings</li>
<li>Heroku, Flask, HTML, and JavaScript for dashboard creation and deployment</li>

</body>

<link href="static/css/background.css" rel="stylesheet"></link>
</html>