{% extends 'base.html' %}

{% block content %}

<!--Title-->
<h1><center>Predicting the Baseball Hall of Fame</center></h1>

<p><a class="btn btn-primary btn-sm" href="background.html" role="button">Background Knowledge</a></p>
<p><a class="btn btn-primary btn-sm" href="scrape.html" role="button">Latest from the Hall of Fame</a></p>


<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'background.html')">Background Knowledge</button>
  </div>

  <!--Tab Content-->
<div id="Background Knowledge" class="tabcontent">
    return render_template("background.html")
</div>

<h2>Baseball Data</h2>
<button type="submit" class="btn btn-primary btn-small">Predict</button>
<ul>
    <li>Batters</li>
    <li>Pitchers</li>
</ul>

<div class="row">
    <div class="col-md-2">
        <div class="well">
            <h5>Dropdown</h5>
            <!-- <select id="selDataset"></select> -->
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
       

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="static/js/script.js"></script>
<script type=“text/javascript” src=“http://code.jquery.com/jquery-1.7.1.min.js”></script>

{% endblock %}

</body>
</html>