{% extends 'base.html' %}

{% block content %}
<h1><center>Predicting the Baseball Hall of Fame</center></h1>

<h3> Introduction </h3>
<p> The National Baseball Hall of Fame inducted its first eligible members in 1936. Soon after, in 1939, the Baseball Hall of Fame Museum was opened in Cooperstown, NY. Since its establishment, each year members of the Baseball Writer's Association of America (BBWAA) vote on eligible candidates to be inducted into the Baseball Hall of Fame. Major League Baseball players are considered eligible candidates if the baseball player:

    <li>Was an active MLB player at least 15 years prior to the year of the election.</li>
    <li>Has been retired for at least 5 years prior to the election.</li>
    <li>Has played in a minimum of 10 seasons.</li>
    <li>Cannot be on the Baseball Hall of Fame ineligible list.</li>
    Once a candidate is deemed eligible, multiple criteria are taken into consideration when voting occurs, such as the player's record/statistics, ability, integrity, and contribution to a team. Members of the BBWAA cast no more than 10 votes on each years ballot for the candidates of their choosing. Any candidate that receives votes on at least 75% of the ballots will be inducted to the Hall of Fame.</h4>
</p>

<h2>Baseball Data</h2>
<button type="submit" class="btn btn-primary btn-small">Predict</button>
<ul>
    <li>Batters</li>
    <li>Pitchers</li>
</ul>
{% endblock %}