{% extends 'base.html' %}

{% block content %}

<!--Title-->
<h1><center>Predicting the Baseball Hall of Fame</center></h1>

<h2>{{hall.news_title}}</h2>

<div class="container">
    <div class="row">
        <!--<div class="col-md-12 jumbotron text-center">
            <h1>Hall of Fame Players</h1>-->
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">See What's New In Cooperstown</a></p>
    </div>
    <div class="row" id="hall-news">
        <div class="col-md-12">
            <div class="media">
                <div class="media-body">
                    <h2>Stay Up to Date With The HOF</h2>
                    <img src="{{hall.news_image}}"  class="img-responsive" alt="Responsive image" />
                    <h4 class="media-heading">{{hall.news_title}}</h4>
                    <p>{{ hall.news_paragraph }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="hall-featured-image">
        <div class="col-md-8">
            <h2>Newest from HOF Historical Image Gallery</h2>
            <img src="{{hall.featured_image }}" class="img-responsive" alt="Responsive image" />
        </div>
    </div>

<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="open(event, 'Background Knowledge')">Background Knowledge</button>
  </div>

  <!--Tab Content-->
<div id="Background Knowledge" class="tabcontent">

<h3> Background Knowledge </h3>
<p> The National Baseball Hall of Fame inducted its first eligible members in 1936. Soon after, in 1939, the Baseball Hall of Fame Museum was opened in Cooperstown, NY. Since its establishment, each year members of the Baseball Writer's Association of America (BBWAA) vote on eligible candidates to be inducted into the Baseball Hall of Fame. Major League Baseball players are considered eligible candidates if the baseball player:

    <li>Was an active MLB player at least 15 years prior to the year of the election.</li>
    <li>Has been retired for at least 5 years prior to the election.</li>
    <li>Has played in a minimum of 10 seasons.</li>
    <li>Cannot be on the Baseball Hall of Fame ineligible list.</li>
    Once a candidate is deemed eligible, multiple criteria are taken into consideration when voting occurs, such as the player's record/statistics, ability, integrity, and contribution to a team. Members of the BBWAA cast no more than 10 votes on each years ballot for the candidates of their choosing. Any candidate that receives votes on at least 75% of the ballots will be inducted to the Hall of Fame.</h4>
</p>
</div>

<h2>Baseball Data</h2>
<button type="submit" class="btn btn-primary btn-small">Predict</button>
<ul>
    <li>Batters</li>
    <li>Pitchers</li>
</ul>

<div class="row">
    <div class="col-md-2">
        <div class="well">
            <h5>Dropdown</h5>
            <!-- <select id="selDataset"></select> -->
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
       

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="static/js/script.js"></script>
<script type=“text/javascript” src=“http://code.jquery.com/jquery-1.7.1.min.js”></script>

{% endblock %}

</body>
</html>