<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="static/css/pitching.css" rel="stylesheet"></link>
</head>

<body>
    <h3>Pitching Data</h3>

    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/base">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Background">Background Knowledge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/scrape">HOF Updates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Batting">Batting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Pitching">Pitching</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Prediction">Prediction</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg">
            <!--<a class="navbar-brand" href="index.html">Predict Hall of Fame</a>-->
        </nav>
        <div class = "container-fluid">
            <div class = "row">
                <div class = "col-md-3">
                    <div class="filters">
                        <form>
                            <p>Filter Search</p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label for="First Name">Enter First Name</label>
                                    <input type="text" id="First Name" class="form-control" placeholder="Jackie"  />
                                </li>
                                <li class="list-group-item">
                                    <label for="Last Name">Enter Last Name</label>
                                    <input type="text" id="Last Name" class="form-control" placeholder="Robinson" />
                                </li>
                                <li class="list-group-item">
                                    <label for="Inducted">Inducted Status</label>
                                    <input type="text" id="Inducted" class="form-control" placeholder="Y or N" />
                                </li>
                                <li class="list-group-item">
                                    <label for="HOF Prediction">HOF Prediction</label>
                                    <input type="text" id="HOF Prediction" class="form-control" placeholder="Y or N" />
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>

                <div class = "col-md-9">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>W</th>
                                <th>L</th>
                                <th>G</th>
                                <th>GS</th>
                                <th>CG</th>
                                <th>SHO</th>
                                <th>SV</th>
                                <th>H</th>
                                <th>ER</th>
                                <th>HR</th>
                                <th>BB</th>
                                <th>SO</th>
                                <th>WP</th>
                                <th>HBP</th>
                                <th>R</th>
                                <th>IP</th>
                                <th>Win Percentage</th>
                                <th>Strikeout to Walk</th>
                                <th>WHIP</th>
                                <th>ERA Corrected</th>
                                <th>Inducted</th>
                                <th>HOF Prediction</th>
                                <th>Yes HOF Probabilty</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="static/js/pitcher_data.js"></script>
    <script src="static/js/pitcher.js"></script>   
        
   
</body>

</html>