<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="static/css/pitching.css" rel="stylesheet"></link>
</head>

<body>
    <h3>Pitching Data</h3>

 <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Background">Background Knowledge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Batting">Batting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Pitching">Pitching</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://hall-of-fame-baseball.herokuapp.com/Analysis">Analysis</a>
          </li>
          <li class="nav-item">
            <img src="static/Images/mlSluggers.png" width="58.5" height="50" />
            </li>
        </ul>
      </div>
    </div>
  </nav>
  
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg">
            <!--<a class="navbar-brand" href="index.html">Predict Hall of Fame</a>-->
        </nav>
        <div class = "container-fluid">
            <div class = "row">
                <div class = "col-md-3">
                    <div class="filters">
                        <form>
                            <p><b>Filter Search: Pitching Data</b></p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label for="First Name"><b>Enter First Name</b></label>
                                    <input type="text" id="First Name" class="form-control" placeholder="Jackie"  />
                                </li>
                                <li class="list-group-item">
                                    <label for="Last Name"><b>Enter Last Name</b></label>
                                    <input type="text" id="Last Name" class="form-control" placeholder="Robinson" />
                                </li>
                                <li class="list-group-item">
                                    <label for="Inducted"><b>Inducted Status</b></label>
                                    <input type="text" id="Inducted" class="form-control" placeholder="Y or N" />
                                </li>
                                <li class="list-group-item">
                                    <label for="HOF Prediction"><b>HOF Prediction</b></label>
                                    <input type="text" id="HOF Prediction" class="form-control" placeholder="Y or N" />
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>

                <div class = "col-md-9">
                    <table class="table table-striped">
                      <table border="10">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>W</th>
                                <th>L</th>
                                <th>G</th>
                                <th>GS</th>
                                <th>CG</th>
                                <th>SHO</th>
                                <th>SV</th>
                                <th>H</th>
                                <th>ER</th>
                                <th>HR</th>
                                <th>BB</th>
                                <th>SO</th>
                                <th>WP</th>
                                <th>HBP</th>
                                <th>R</th>
                                <th>IP</th>
                                <th>Win Percentage</th>
                                <th>Strikeout to Walk</th>
                                <th>WHIP</th>
                                <th>ERA Corrected</th>
                                <th>Inducted</th>
                                <th>HOF Prediction</th>
                                <th>Yes HOF Probabilty</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="static/js/pitcher_data.js"></script>
    <script src="static/js/pitcher.js"></script>   

     <!-- Bootstrap JS scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>

     <!-- Carousel Script Imports -->
     <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
     integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
     crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
     integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
     crossorigin="anonymous"></script>
 <!-- Carousel Script End -->
        
   
</body>

</html>