body {
  background-color: #B0E0E6;
  margin: 20px;
  padding: 20px;
}

  img {
    max-width: 60%;
    height: auto;
  }

  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  p {
    margin: 20px;
    padding-right: 20px;
  }
  