body {
  background-color: #B0E0E6;
  margin: 20px;
}

table, th, td {
    border: 1px solid black;
}  

ul.list-group {
  background-color: #b0e0e6;
  border: 1px solid black;
  justify-content: center;
  display: flex;
}

li.list-group-item {
  background-color: #b0e0e6;
  border: 1px solid black;
  justify-content: center;
  display: flex;
}


