.body {
    background-color: rgb(255, 170, 73);
}

.wrapper {
    background-color: tan;
}

.jumbotron {
    background: none;
}

.img-responsive {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 32rem;
    background:#000;
    color: white;
    position: absolute;
    opacity: 0.5;
}